@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style-type: none;
}

.flex-1 {
    flex: 1;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/* NAVIGATION BAR */

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
 display: flex;   
}

.nav__link--anchor {
    margin: 0 12px;
    color:#242424;
    text-decoration: none;
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: rgb(106, 144, 106);
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: rgb(126, 162, 126);
}

.personal__logo {
    font-size: 24px;
    color: rgb(106, 144, 106);
    font-weight: 700;
    margin: 0 12px;
}

/* ABOUT ME */

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
   
.about-me__info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me__picture--mask {
    width: 80px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.about-me__picture {
    width: 100%;
    
}